/* Dia disponible (verde) */
.fc-day.available {
    background-color: #d4edda; /* Verde claro */
    color: #155724; /* Texto verde oscuro */
}

/* Dia con algun campo (amarillo) */
.fc-day.partial {
    background-color: #fff3cd; /* Amarillo claro */
    color: #856404; /* Texto amarillo oscuro */
}

/* Dia completamente ocupado (rojo) */
.fc-day.full {
    background-color: #f8d7da; /* Rojo claro */
    color: #721c24; /* Texto rojo oscuro */
}