#calendar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendar {
    width: 90%; 
    height: 90%; 
}

/* Dia disponible (verde) */
.fc-day.available {
    background-color: #d4edda; /* Verde claro */
    color: #155724; /* Texto verde oscuro */
}

/* Dia con algun campo (amarillo) */
.fc-day.partial {
    background-color: #fff3cd; 
    color: #856404; 
}

/* Dia completamente ocupado (rojo) */
.fc-day.full {
    background-color: #f8d7da; 
    color: #721c24;
}