body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
}
.btnPss{
    background-color: var(--colorBoton);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
/* Estilo para el formulario de restablecer contraseña */
#formRestablecer {
    margin-top: 20px;
}

.inputPassword {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.btnRestablecer {
    background-color: var(--colorBoton);
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btnRestablecer:hover {
    background-color: var(--colorBotonActivoHover);
}