:root{
    --colorFondo: #f0f0f0;
    --colorTexto: #333;
    --colorBoton: #08A3A9;
    --colorBotonHover: #0f2788;
}

/* Contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fila {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Secciones individuales */
.seccion {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 30px;
}

/* Títulos de las secciones */
.seccion h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

/* Botones */
button {
    background-color: var(--colorBoton);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--colorBotonHover);
}

#resultado-busqueda,
#listado-tratamientos {
    min-height: 150px; /* Ajusta según el contenido esperado */
}

